/*
!.gitignore
__pycache__

!.config/
.config/*
!wallpapers/

!.zshrc

!.config/nvim/
.config/nvim/plugin/
.config/nvim/lazy-lock.json

!.config/tmux/
.config/tmux/plugins/

!.config/sesh/
.config/sesh/sessions.toml

!.config/ohmyposh/

!.config/fastfetch/

!.config/alacritty/
!.config/ghostty/

!.config/dunst/
!.config/rofi/
!.config/wofi/

!.config/hypr/
!.config/waybar/

!.dwm/
!.config/awesome/
!.config/qtile/
!.config/picom/

!.config/doom/

!.config/phpactor/

!scripts/
