/*
!.gitignore
!.config/
.config/*

!.config/nvim/
.config/nvim/plugin/
.config/nvim/lazy-lock.json
!.config/nvimOLD/
.config/nvimOLD/plugin/
!.config/doom/

!.config/tmux/
.config/tmux/plugins/

!.config/alacritty/
!.zshrc
!.config/firefox.css/

!.config/qtile/
.config/qtile/_config.py
__pycache__

!.config/picom/

!.config/dmenu.bkp/

!.config/dwm/
.config/dwm/dwm/
.config/dwm/slstatus/


!.config/rofi/

!.config/dunst/

!.config/awesome/
!.config/openbox/
!.config/tint2/

!.wallpapers/

!.config/gitconfig.bkp/
!.config/server.bkp/

!.dwm/
!.themes/
.themes/*
!.themes/frkl-openbox
