/* Reduce minimum window width for Fx74 */ 

:root:not([chromehidden~="toolbar"]){ 
    /* Fx74 default is 450px on Windows */ 
    min-width: 250px !important; 
}

:root{

    --default-bg: #121212;
    --default-bg-active: #161616;
    --default-fc: #fefefe;
    --primary-color: #ff91af;
    --secondary-color: #7275CC;
    
    --toolbarbutton-inner-padding: 4px !important;
    --urlbar-icon-padding: 4px !important;
    --urlbar-margin-inline: 2px !important;
}

/* grid */
#navigator-toolbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 13px;
    font-family: Ubuntu Nerd Font, Roboto, 'sans-serif';
}
.urlbar-page-action:not([hidden="true"]), #urlbar-go-button, .search-go-button {
    display: grid;
    place-items: center;
}
#navigator-toolbox > *, #PersonalToolbar {
    grid-column: 1 / -1;
}

#titlebar{
    grid-column: 3 / -1;
    grid-row: 1;
}
#nav-bar{
    grid-column: 1 / 3;
    grid-row: 1;
}


#toolbar-menubar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--default-bg) !important;
    z-index: 5;
    min-height: 32px !important;

    border: none;
    padding: 0 !important;
    box-shadow: 0 0.125rem 0.125rem #0004;
}
#toolbar-menubar[autohide="true"][inactive="true"]:not([customizing="true"]) {
  min-height: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  appearance: none !important;
}
#toolbar-menubar #menubar-items {
    align-items: stretch !important;
}
#toolbar-menubar menupopup, #toolbar-menubar menubar{
    font-size: 14px !important;
    font-family: Ubuntu Nerd Font, Roboto, 'sans-serif';
    min-height: 100%;
}
menu:where([_moz-menuactive="true"]),
menuitem:where([_moz-menuactive="true"]) {
  color: white !important;
  background-color: var(--secondary-color) !important;
}

/* tabs */

#TabsToolbar{
    background-color: var(--default-bg) !important;
    color: var(--default-fc) !important;
    --download-progress-fill-color: var(--primary-color) !important;
    --tab-min-height: 32px;
    --toolbarbutton-inner-padding: 4px !important;

    --toolbarbutton-icon-fill-attention: var(--primary-color) !important;
}
.tabbrowser-tab{
    padding: 0px !important;;
}
.tabbrowser-tab .tab-background {
    --tab-border-radius: 0;
    --tab-block-margin: 0;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected="true"]:-moz-lwtheme, 
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]:-moz-lwtheme {
    background-color: var(--default-bg-active) !important;
    background-image: none !important;
    position: relative;

}
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon:-moz-lwtheme::after,
#tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background:-moz-lwtheme::after, 
#tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background:-moz-lwtheme::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    left; 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transition: transform ease 100ms;
    transform: scaleX(0);
    transform-origin: center;
}
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon:-moz-lwtheme::after,
#tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected="true"]:-moz-lwtheme::after, 
#tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]:-moz-lwtheme::after {
    transform: scaleX(1);

}
#pageAction-urlbar-tab-stash_condordes_net{
    display: none;
}
#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
    height: 28px !important;
}

toolbar .toolbarbutton-1:not([hidden="true"]){
    display: grid;
    align-items: center !important;
}
#alltabs-button {
    padding-inline-end: var(--toolbar-start-end-padding) !important;
}

/* url */
#nav-bar-customization-target{
    align-items: center; 
}
#urlbar-container{
    --urlbar-container-height: 32px !important;
    height: var(--urlbar-container-height);
    flex: 400 1 auto !important;
    width: auto !important;
    padding: 0 !important;
}

#urlbar-background {
    background-color: var(--default-bg) !important;
    border-radius: 0 !important;
    border-color: transparent !important;
    outline-color: transparent !important;
}
#urlbar-input-container{
    background-color: var(--default-bg) !important;
    border: 1px solid transparent !important; 
    padding: var(--urlbar-container-padding) !important;
    align-items: center;

}
#urlbar{
    --urlbar-toolbar-height: 32px !important;
    height: 32px !important;
    inset: 0px !important;
    margin: auto !important;  
    width: 100% !important;
    transition: width 50ms;
}



#page-action-buttons{
    --urlbar-icon-padding: 2px !important;
}
.urlbar-page-action, #urlbar-go-button, .search-go-button{
    width: 24px !important;
    height: 24px !important;
}
#tracking-protection-icon-container {
  padding: var(--urlbar-icon-padding);
}
.identity-box-button {
  padding: var(--urlbar-icon-padding);
}

#urlbar .urlbarView{
    background-color: var(--default-bg) !important;
    margin: 0 !important;
    width: 100% !important;
}

/* #reload-button{
    display: none;
} */
#developer-button{
    display: none;
}
#nav-bar toolbarpaletteitem[id^="wrapper-customizableui-special-spring"], #nav-bar toolbarspring{
    flex: 0 0;
}

.browser-toolbar:not(.titlebar-color) {
    background-color: var(--default-bg) !important;
    color: var(--default-fc) !important;

}

@media (min-width: 666px){
        #urlbar[breakout][breakout-extend] {
        top: 0;
        left: calc(-1 * var(--urlbar-margin-inline));
        width: 80vw !important;
    }    
}

@media (max-width: 992px){
    #back-button,
    #forward-button,
    #nav-bar-overflow-button{
        display: none;
    }
    #navigator-toolbox{
        grid-template-columns: 1fr 1fr;
    }
    #titlebar{
        grid-column: 2 / -1;
        grid-row: 1;
    }
    #nav-bar{
        grid-column: 1 / 2;
        grid-row: 1;
    }
}

@media (max-width: 665px){
    #navigator-toolbox{
        grid-template-columns: 1fr;
    }
    #navigator-toolbox, #PersonalToolbar, #nav-bar, #titlebar{
        grid-column: 1 / -1;
        grid-row: auto;
    }
    #nav-bar{
        grid-row: 1;
    }
    #titlebar{
        grid-row: 2;
    }
    #PanelUI-menu-button {
        padding: 0 var(--toolbarbutton-outer-padding) !important;
    }
    #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child, #nav-bar-customization-target > toolbarpaletteitem:first-child > :is(toolbarbutton, toolbaritem) {
        padding: 0 var(--toolbarbutton-outer-padding) !important;
    }

}
