@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* Reduce minimum window width for Fx74 */ 

:root:not([chromehidden~="toolbar"]){ 
    /* Fx74 default is 450px on Windows */ 
    min-width: 250px !important; 
}

:root{

    --default-bg: #121212;
    --default-bg-active: #161616;
    --default-fc: #fefefe;
    --primary-color: #ff91af;
    --secondary-color: #7275CC;
    
    --toolbarbutton-inner-padding: 4px !important;
    --urlbar-icon-padding: 4px !important;
    --urlbar-margin-inline: 2px !important;
}

