@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* Reduce minimum window width for Fx74 */ 


:root:not([chromehidden~="toolbar"]){ 
    /* Fx74 default is 450px on Windows */ 
    min-width: 250px !important; 
}

:root{
    
}

#navigator-toolbox{
    --chrome-content-separator-color: #5c6370;
    --default-bg: #282c34;
    --default-bg-active: #1e2127;
    --default-fc: #fefefe;
    --primary-color: #ff91af;
    --secondary-color: #7275CC;
    
    --toolbarbutton-inner-padding: 5px;
    --urlbar-icon-padding: 5px;
    --urlbar-margin-inline: 0px;
    
    
    font-family: Ubuntu Nerd Font, sans-serif;

    --font-size: 12px;
    font-size: var(--font-size);
    
    --lwt-accent-color-inactive: var(--default-bg);
    --lwt-accent-color: var(--default-bg);
    --toolbar-bgcolor: var(--default-bg);
    
    
    --tab-selected-bgcolor: var(--default-bg); 
    --tab-border-radius: 0px;
    --tab-block-margin: 0px;
    --tab-min-height: 30px;
    
    --_tab-padding: 0 0px;
    
    
    --toolbarbutton-hover-background: var(--default-bg-active); 
    --toolbarbutton-icon-fill: var(--default-fc);
    --toolbarbutton-icon-fill-attention: var(--primary-color);
    --toolbar-start-end-padding: 4px;
    
    
    --toolbar-field-background-color: var(--default-bg);
    --toolbar-field-focus-background-color: var(--default-bg-active);
    --urlbar-box-focus-bgcolor: var(--default-bg-active);
    --urlbar-box-hover-bgcolor: var(--default-bg-active);
    --toolbarbutton-border-radius: 0px;
    
    --focus-outline-color: var(--primary-color);
    --focus-outline-inset: 1px;
    --toolbar-field-focus-border-color: var(--primary-color);
   
}
menupopup, menubar, menu{
    font-size: var(--font-size) !important;
}
.tabbrowser-tab{
    padding: var(--_tab-padding) !important;
}
.tab-background {
    position: relative;
    z-index: 0;
}
.tab-background::after{
    content: '';
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    inset: auto 0 0;
    scale: var(--_scale, 0);
    transition-property: scale;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    
}
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon, .tab-background:is([selected], [multiselected]) {
}
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon::after, 
.tab-background:is([selected], [multiselected])::after {
    --_scale: 1;
}
#urlbar-container {
    --urlbar-container-height: 36px !important;
    margin-block: 3px;

    --_urlbar-container-padding: 3px;
    padding-block: var(--_urlbar-container-padding) !important;
}
#urlbar {

    --urlbar-height: 30px !important;
    --urlbar-toolbar-height: 38px !important;
    --urlbar-min-height: 30px;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon, #tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
